<html lang='en'>
<div class="container">
<div class="row">
	<div class="text-center col-sm-3 col-sm-offset-4">
	<h1>About Us</h1>
	</div>
</div>
	<div class="row">
		<div class="col-sm-4">
			<h2>Steve</h2>
			<h3>Project Manager</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>
		<div class="col-sm-4">
			<h2>Caldy</h2>
			<h3>Tech Lead</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>
		<div class="col-sm-4">
			<h2>Sam</h2>
			<h3>Database Specialist</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>
		</div>
		<div class="row">
		<div class="col-sm-4">
			<h2>Molly</h2>
			<h3>Developer</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>
		<div class="col-sm-4">
			<h2>Alec</h2>
			<h3>Developer</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>
		<div class="col-sm-4">
			<h2>David</h2>
			<h3>Tester</h3>
			<!--Insert Picture here -->
			<!-- Insert small paragraph about yourself-->
		</div>

	</div>



</div>
</html>
