<!DOCTYPE>
<html lang='en'>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
<h1>Editing App</h1>
 
<%= render 'form'%>
 
<%= link_to 'Back', apps_path, class: "btn  btn-info" %>
</div>
</div>
</html>