// Place all the styles related to the Home controller here.

h1 {
	position: absolute;
	color: #00008A;
	text-align: center;
	
}

body {
	background-color: #ADEBFF;
}

.icons {
	text-align: center;
}

h2 {
	text-align: center;
}

img {
	padding: 20px;
	padding-right:50px;
	padding-left:50px;
}

#header {
	position: relative;
	width: 100%;
}